.example-ripple-container {
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 300px;
  line-height: 300px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.example-ripple-checkbox {
  margin: 5px;
}

.example-ripple-form-field {
  margin: 5px;
  display: block;
}
