:host {
  display: block;
}

.docs-component-viewer-sidenav-container {
  /* Calculate height: 100vh - navbar height (64px) */
  height: calc(100vh - 64px);
}

.docs-component-viewer-sidenav {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.docs-component-viewer-nav-content {
  padding-top: 8px;
}

.active {
  background: rgba(0, 0, 0, 0.04);
  color: #3f51b5; /* Primary */
  font-weight: 500;
}

.docs-component-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.docs-component-sidenav-body-content {
  flex: 1;
  padding: 24px;
}

.docs-footer {
  padding: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background: #fafafa;
  font-size: 14px;
}
