<mat-sidenav-container class="docs-component-viewer-sidenav-container">
  <mat-sidenav mode="side" opened class="docs-component-viewer-sidenav">
    <div class="docs-component-viewer-nav-content">
      <mat-nav-list>
        <h3 matSubheader>Components</h3>

        <a mat-list-item routerLink="/categories" routerLinkActive="active">Categories</a>
        <a mat-list-item routerLink="/autocomplete" routerLinkActive="active">Autocomplete</a>
        <a mat-list-item routerLink="/badge" routerLinkActive="active">Badge</a>
        <a mat-list-item routerLink="/bottom-sheet" routerLinkActive="active">Bottom Sheet</a>
        <a mat-list-item routerLink="/button" routerLinkActive="active">Button</a>
        <a mat-list-item routerLink="/button-toggle" routerLinkActive="active">Button Toggle</a>
        <a mat-list-item routerLink="/card" routerLinkActive="active">Card</a>
        <a mat-list-item routerLink="/checkbox" routerLinkActive="active">Checkbox</a>
        <a mat-list-item routerLink="/chips" routerLinkActive="active">Chips</a>
        <a mat-list-item routerLink="/datepicker" routerLinkActive="active">Datepicker</a>
        <a mat-list-item routerLink="/dialog" routerLinkActive="active">Dialog</a>
        <a mat-list-item routerLink="/input" routerLinkActive="active">Input</a>
        <a mat-list-item routerLink="/primeng" routerLinkActive="active">PrimeNG</a>
        <a mat-list-item routerLink="/feature" routerLinkActive="active">Feature</a>

        <mat-divider></mat-divider>
        <h3 matSubheader>More (Disabled)</h3>

        <a mat-list-item routerLink="/divider" routerLinkActive="active">Divider</a>
        <a mat-list-item routerLink="/expansion" routerLinkActive="active">Expansion Panel</a>
        <a mat-list-item routerLink="/form-field" routerLinkActive="active">Form Field</a>
        <a mat-list-item routerLink="/grid-list" routerLinkActive="active">Grid List</a>
        <a mat-list-item routerLink="/icon" routerLinkActive="active">Icon</a>
        <a mat-list-item routerLink="/list" routerLinkActive="active">List</a>
        <a mat-list-item routerLink="/menu" routerLinkActive="active">Menu</a>
        <a mat-list-item routerLink="/paginator" routerLinkActive="active">Paginator</a>
        <a mat-list-item routerLink="/progress-bar" routerLinkActive="active">Progress Bar</a>
        <a mat-list-item routerLink="/progress-spinner" routerLinkActive="active"
          >Progress Spinner</a
        >
        <a mat-list-item routerLink="/radio" routerLinkActive="active">Radio Button</a>
        <a mat-list-item routerLink="/ripple" routerLinkActive="active">Ripples</a>
        <a mat-list-item routerLink="/select" routerLinkActive="active">Select</a>
        <a mat-list-item routerLink="/sidenav" routerLinkActive="active">Sidenav</a>
        <a mat-list-item routerLink="/slide-toggle" routerLinkActive="active">Slide Toggle</a>
        <a mat-list-item routerLink="/slider" routerLinkActive="active">Slider</a>
        <a mat-list-item routerLink="/snack-bar" routerLinkActive="active">Snackbar</a>
        <a mat-list-item routerLink="/sort" routerLinkActive="active">Sort Header</a>
        <a mat-list-item routerLink="/stepper" routerLinkActive="active">Stepper</a>
        <a mat-list-item routerLink="/table" routerLinkActive="active">Table</a>
        <a mat-list-item routerLink="/tabs" routerLinkActive="active">Tabs</a>
        <a mat-list-item routerLink="/timepicker" routerLinkActive="active">Timepicker</a>
        <a mat-list-item routerLink="/toolbar" routerLinkActive="active">Toolbar</a>
        <a mat-list-item routerLink="/tooltip" routerLinkActive="active">Tooltip</a>
        <a mat-list-item routerLink="/tree" routerLinkActive="active">Tree</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="docs-component-sidenav-content">
      <main class="docs-component-sidenav-body-content">
        <router-outlet></router-outlet>
      </main>
      <footer class="docs-footer">
        <div class="docs-footer-copyright">
          <span>Powered by Google LLC ©2010-2026.</span>
          <a href="#" target="_blank">Code licensed under an MIT-style License.</a>
        </div>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
